#navbar {
    background-color: #BBBBBB;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('snowyChristmasFont.otf');
  }
  
  body {
    font-family: 'MyWebFont';
  }